$main-color: #e76717;
$secondary-color: #c88828;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;

$light-blue-gradient: linear-gradient(45deg, rgba(65, 170, 196, 0.75), rgba(239, 17, 17, 0.75));
$blue-gradient: linear-gradient(45deg, rgba(20, 241, 223, 0.38), rgba(184, 10, 10, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(41, 176, 176, 0.75), rgba(215, 30, 30, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgb(241, 108, 20), rgb(10, 77, 184));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(255, 149, 0) 0%, rgb(31, 154, 182) 100%);

